# Built application code
*.apk
*.ap_

# Files for the Java and Android SDK build
build/
.externalNativeBuild/
.cxx/
gradle/
*.iml
.gradle/
local.properties
!templates/
!CMakeLists.txt
!.idea/

# Keystore files
.keystore
.debug.keystore
*.jks

# Project-specific stuff
*.log
codelab/
.idea/

# Gradle files
.gradle/
build/
local.properties
!templates/